
body {
  margin: 0;
  font-size: 1.4em;
  background-color: grey;
  color: #333;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;

 
}


body::after {
  content: "";
  background-image: url('./images/backgr.png');
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


h1,h2,h3,p {
  margin: 0;
}
input, textarea {
  color: #333;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.page-title {
  text-align: center;
  margin: 40px auto;
  color: #333;
}

.loading, .error {
  text-align: center;
  margin: 40px auto;
}

.loader-image{
  text-align: center;
  margin-top: 20px;
}

@media ( max-width: 750px) {


  body::after {
    content: "";
    background-image: none;
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


}





